.top{
    background-color: white;

}
.top-content{
    width: 980px;
    margin: 0 auto;
    display: flex;
}
.top-logo{
    flex:1 0 auto;
    margin-left: 10px;
}
.top-logo a{
    font-size: 25px;
    font-weight: 500;
    color: #1afa29;
    letter-spacing: 4px;
    padding: 22.5px 0 22.5px 40px;
    background: url(../../icons/头像.jpg) no-repeat 2px 22.5px;
    background-size: 30px 30px;
}
.top-nav{
    display: flex;
    flex:4 0 auto;
    justify-content: space-evenly;
}
.top-nav .item{
    flex:1 1 auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    padding: 44px 0 6px 0 ;
    text-align: center;
}
.top-nav .item:hover{
    color: #1afa29;
}


.item-page{
    background: url(../../icons/页面设置1.png) no-repeat;
    background-size: 26px 26px;
    background-position: center 15px;
}

.item-page:hover{
    background-image: url(../../icons/页面设置2.png);
}

.item-font{
    background: url(../../icons/文字1.png) no-repeat;
    background-size: 30px 30px;
    background-position: center 12px;
}

.item-font:hover{
    background-image: url(../../icons/文字2.png);
}

.item-skin{
    background: url(../../icons/皮肤设置1.png) no-repeat;
    background-size: 36px 36px;
    background-position: center 9px;
}

.item-skin:hover{
    background-image: url(../../icons/皮肤设置2.png);
}

.item-cover{
    background: url(../../icons/生产封面1.png) no-repeat;
    background-size: 30px 30px;
    background-position: center 12px;
}

.item-cover:hover{
    background-image: url(../../icons/生产封面2.png);
}

.item-template{
    background: url(../../icons/模板管理1.png) no-repeat;
    background-size: 30px 30px;
    background-position: center 12px;
}

.item-template:hover{
    background-image: url(../../icons/模板管理2.png);
}



.download-forward{
    display: flex;
    flex:2 0 auto;
    justify-content: center;
}

.download-forward .item{
    margin: auto 10px;
    padding: 12px 15px;
    font-size: 14px;
    border-radius: 20px;
}

.item-download{
    background-color: #1afa29;
    color: white;
}

.item-forward{
    background-color: rgb(244,244,244);
}

.item-forward:hover{
    background-color: #1afa29;
    color: white;
}

.login-block{
    padding: 10px 18px;
    margin: auto 10px;
    border-radius: 20px;
    background-color: #ebfffa;
    border: solid 1px #1afa29;
    color: #1afa29;
}
.login-block:hover{
    background-color: #1afa29;
    color: #ebfffa;
}

.login-user{
    display: flex;
}

.login-user-img{
    background: url(../../icons/头像.jpg) no-repeat 0 0;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    border-radius: 20px;
    margin: auto 0 auto 20px;
}

.login-user-name{
    font-size: 14px;
    margin: auto 0 auto 14px;
    font-weight: 500;
}